#titlearea {
    height: 100px;
    background-color: rgba(0, 0, 0, 0.3);
    background-image: url("background_blur.jpg");
}

#namelabel {
    color: rgb(200, 200, 200);
    font-size: 0.75em;
}

.area {
    padding: 30px 100px 30px 100px;
    text-align: center;
    color: rgb(240, 240, 240);
    font-family: 'Open Sans', sans-serif;
    font-size: 4em;
}

.bigbutton {
     background-color: rgb(10, 200, 40);
     border: 1px solid rgba(255, 255, 255, 0.4);
     display: inline-block;
     padding: 10px 25px 10px 25px;
     user-select: none;
     cursor: default;
 }

body {
     background-image: url("background.jpg");
     margin: 0px;
}